.btn-white{
    background-color: #fff;
}
.sign, .library{
    color: #A7A7A7;
}
.ff, .dd{

    width: 30px;
    height: 30px;
    background-color: #090909;
    border-radius: 50%;
}
.dark{
    background-color: #000000;
}
.bgm{
    background-color: #121212;
}
.li{
    gap: 170px;
   
}
.bgr{
    background-color: #242424;
}
.t-dark{
    color: #000000;
}
.fs{
    font-size: 13px;
}
.gap a{
    margin: 10px;
}
.show{
    color: #A1A1A1;
}
.r{
    border-radius: 200px;
}
.shadow1{
    box-shadow:#1D1D1D 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.cm{
    background: rgb(174,40,150);
background: linear-gradient(90deg, rgba(174,40,150,1) 5%, rgba(80,153,244,1) 96%);

}

